*{
  font-family: "Balsamiq Sans", sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.balsamiq-sans-regular {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .balsamiq-sans-bold {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .balsamiq-sans-regular-italic {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .balsamiq-sans-bold-italic {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  /* .mygrid{
    display: grid;
    grid-template-columns: 25% 50% 25%;
  } */
